<h1>Recovery password</h1>

<%= form_tag confirm_code_recovery_password_path, {method: :post, name: 'recovery_password_form'} do %>
  <p>Enter your email or username:</p>
  <%= text_field_tag('recovery_password[email_or_username]') %>
  <%= submit_tag("recovery") %>
<% end %>
