<h1>Recovery password</h1>

<p>Hi <%= @user.username %>,</p>
<p>The confirmation code is:</p>
<p><%= @user.recovery_password_confirmation_code %></p>
<p>You can confirm your account doing click in the next link:</p>
<p><a href="<%= Rails.configuration.x.domain %>/recovery_password/confirm_account?confirmation_code=<%= @user.recovery_password_confirmation_code %>">Recovery password</a></p>
<p>Thanks you!</p>
