<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
        <%
          if user.avatar_path.nil?
            concat image_tag 'users/default_avatar.png', width: 100
          else
            concat image_tag user.avatar_path, width: 100
          end
        %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%
          if session.has_key?(:user) && session[:user][:id] == user.id
            concat link_to'Edit', edit_user_path(user)
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
